* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #e1eef6;
}

.header {
  margin: 0%;
  position: relative;
}

.inner {
  padding: 40px 0;
  text-decoration: none;
  width: 100%;
  height: 50%;
  font-size: 35px;
  font-weight: bold;
  font-family: 標楷體;
  text-shadow: 0px 3px 0px #9DC8C8,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
  font-style: normal;
  color: #3F37C9;
  letter-spacing: 1px;
  text-align: center;
  margin: 0%;
}

div.body {
  font-family: 標楷體;
  color: #003F88;
  letter-spacing: 0.5px;
  float: left;
  padding-top: 10px;
}

.putit {
  font-family: 標楷體;
  color: #003F88;
}

.top {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-home {
  position: absolute;
  top: 200px;
}

.hhhome {
  max-width: 80px;
  max-width: 80px;
  margin-left: -250px;
  margin-top: -70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myname {
  text-decoration: none;
  width: 100%;
  height: 50%;
  font-size: 30px;
  font-weight: bold;
  font-family: 標楷體;
  text-shadow: 0px 5px 0px #A2D2FF;
  font-style: normal;
  color: #4361EE;
  letter-spacing: 1px;
  text-align: center;
  margin: 0%;
}

.hhhome>img {
  width: 100%;
}

.table {
  margin-top: 20px 20 20 20;
}

.foot {
  clear: left;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #274555;
  font-size: 13px;
  text-align: center;
  color: #E9ECEF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.change {
  font-size: 40px;
  font-family: 標楷體;
  color: #003F88;
}

#pagetop {
  float: left;
  font-size: 20px;
}

#catch {
  font-size: 26px;
  color: #3F37C9;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5%;
}