body {
    
    background-color: lightyellow;
    color: #666666;
    text-align: center;
    margin-bottom: -10px;
    margin-left: -1px;
    margin-right: -1px;
  }
  
  h1 {
    text-align: left;
    column-span: all;
    padding: 10px ;
    padding-left: 20px;
 
  }
  h2{
      text-align: center;
      font-weight:bolder;
  }
  span{

    font-size: 50px;
  }
  img {
    width: 350px;
    height: 500px;
    position: relative;
  }
  
  .all {
    width: 1150;
    height: 900px;
    columns: 3;
    column-rule: rgb(104, 109, 58) dotted 1px;
    position: relative;
    padding-left: 10PX;
    padding-right: 10PX;
  }
    P.TIT{
      font-family: 'Times New Roman', Times, serif;
      font-size: 35px;
      color: rgb(166, 173, 104);
      background-color: #274555;
      width:750px;
      height: 20px;
      text-align: right;
      float: right;
      
      left: 120PX;
      padding:5px;
  }
  
  .con {
    padding:3px;
  }
  p{
      font-style: oblique;
      text-align: center;
  }
  #footer {

    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #274555;
    font-size: 13px;
    text-align: center;
    color: #E9ECEF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #catch {
    font-size: 26px;
    color: #3F37C9;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5%;
  }  
  .cnn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 10px;
  }
  
  .c-i-a>img {
    width:80px;
    height: 80px;
  }
  
  .c-i-a>img:hover {
    width: 100px;
    height: 100px;
    transition: .3s;
  }